APP_DEBUG = true

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[DATABASE]
TYPE = mysql
HOSTNAME = 127.0.0.1
DATABASE = lylmew
USERNAME = root
PASSWORD = root
HOSTPORT = 3306
CHARSET = utf8mb4
DEBUG = true
PREFIX = lylmew_

[LANG]
default_lang = zh-cn

[JWT]
SECRET = lylmew_jwt_secret_2026
EXPIRE = 7200

[UPLOAD]
MAX_SIZE = 10485760
SAVE_PATH = uploads
